#blog.block
  .inner
    %article.one-whole
      %header.section-header.blog-title
        %h1 Blog
      %section.entry.blog-entry.desk-four.sixths.desk-push--one-sixth
        %h1
          %a{:href =>"http://bertomartin.github.com", :target => "_blank"} Hello World
        %h2
          %em
            written by
          %a{:href=>"http://bertomartin.github.com", :target => "_blank"} bootstrapprs
          on
          %span.post-date
            March 07
        %p
          Welcome to bootstrappers. We are two full-stack programmers who see the need to help budding startup entreprenuers with their technical needs, so they can focus more on business development. Our guiding principle is to create the best product from code architecture to UX design and to do it on time and within budget.