#blog.block
  .inner
    %article.one-whole
      %header.section-header.blog-title
        %h1 Blog
      %section.entry.blog-entry.desk-four.sixths.desk-push--one-sixth
        %h1
          %a{:href =>"#"} A loose rant on motivation and evaluation
        %h2
          %em
            written by
          %a{:href=>"#"} bootstrapprs
          on
          %span.post-date
            March 07
        %p
          In our industry, you’ll often hear people say things like “if someone can’t figure it out in 10 seconds then they’re gone.” Or “I checked out the site and I couldn’t figure out what they did so I left. Terrible design.” Or “if it takes more than a couple sentences to explain it then it’s not simple enough.” Or “too much to read!” Or “there are too many fields on this form!” Or “there are too many steps in this process.”