%header#main-header
  .inner
    .gw
      .g.one-whole.lap-three-quarters.desk-three-quarters
        .logo
          %a{:href => "#"}
            bootstrapprs.com
      .g.one-whole.lap-one-quarter.desk-one-quarter
        %nav
          %ol.split
            %li
              %b.split__title
                email:
              bootstrapprs@gmail.com
            %li
              %b.split__title
                twitter:
              @bootstrapprs
