#main-navigation
  .inner
    %nav
      %ul
        %li.item1
          %a{:href => "#whatwedo"}
            What we do
        %li.item2
          %a{:href => "#our-work"}
            Work
        %li.item3
          %a{:href => "#contact"}
            Contact
        %li.item4
          %a{:href => "#blog"}
            Blog