#masthead
  .inner
    %article
      %header
        %h1 Bootstrapprs
      %section
        %h2 We build web applications for #startups
        %p.lead
          We develop web applications using best practices to ensure scalability and ease of use. We allow you to focus on your ideas, while we focus on getting your application done to specification in a timely manner.
