#masthead
  .inner
    %article
      %header
        %h1 Bootstrapprs
      %section
        %h2 We build web applications for #startups
        %p.lead
          We provide web and mobile solutions for startups. Typographic contrast is a deft and powerful weapon in your design arsenal. Its presence and impact typically goes unnoticed by readers.
