#whatwedo.block
  .inner
    %article
      %header.section-header
        %h1 What we do
      .gw
        .g.one-whole.desk-one-half.lap-one-half
          %section.entry
            .media
              %h2 Backend Development
              %p
                %i.icon-wrench.icon-4x.pull-left.icon-border
                We develop with Ruby on Rails. We’ve found it to be the best platform for mapping out your ideas and getting the desired functionality up and running as quickly as possible. We may use Sinatra in cases where it’s needed. Where desired, we can also build a json api to go along with the application.
        .g.one-whole.desk-one-half.lap-one-half
          %section.entry
            .media
              %h2 Front-end Development
              %p
                %i.icon-sitemap.icon-4x.pull-left.icon-border
                We bootstrap most of our frontend ui using Twitter’s bootstrap. This fits the intended purpose of getting your functional ideas up using consistent and clear UI elements. If needed we can build your interface from scratch using content first responsive design techniques.
      .gw
        .g.one-whole.desk-one-half.lap-one-half
          %section.entry
            .media
              %h2 DevOps & Scaling
              %p
                %i.icon-cogs.icon-4x.pull-left.icon-border
                We’ll set up your servers in a cost-effective way that allows you to easily scale when needed. Your servers will be kept up to date with the latest security updates and we’ll ensure to apply the latest techniques to make your servers secure and robust.
        .g.one-whole.desk-one-half.lap-one-half
          %section.entry
            .media
              %h2 Emergencies & Training
              %p
                %i.icon-stethoscope.icon-4x.pull-left.icon-border
                If necessary, we can provide training to your developers to help them get up to speed with the code/architecture we've implemented. As well, we will be around to out any fires that may pop up.