#our-work.block
  .inner
    %article
      %header.section-header
        %h1 Work
      %section.entry
        %ul{:id=>"featured2", :data => {'orbit' => ''}}
          %li{:"data-orbit-slide"=>"headline-1"}
            .gw
              .g.one-whole.desk-three-quarters.lap-one-half
                //
                %img{:src=>"img/autobark.png"}
              .g.one-whole.desk-one-quarter.lap-one-half
                %h2 autobark.com
                %p We developed this site fully both front and backend as well as server setup.
                %p.technologies
                  %b Front End:
                  HTML5/CSS3/JQuery
          %li{:"data-orbit-slide"=>"headline-2"}
            .gw
              .g.one-whole.desk-three-quarters.lap-one-half
                //
                %img{:src=>"img/amegrips.png"}
              .g.one-whole.desk-one-quarter.lap-one-half
                %h2 autobark.com
                %p We developed this site fully both front and backend as well as server setup.
                %p.technologies
                  %b Front End:
                  HTML5/CSS3/JQuery

          %li{:"data-orbit-slide"=>"headline-3"}
            .gw
              .g.one-whole.desk-three-quarters.lap-one-half
                //
                %img{:src=>"img/glamnchic.png"}
              .g.one-whole.desk-one-quarter.lap-one-half
                %h2 autobark.com
                %p We developed this site fully both front and backend as well as server setup.
                %p.technologies
                  %b Front End:
                  HTML5/CSS3/JQuery